name: Container Workflow

on: push

jobs:
  node-docker:
    runs-on: ubuntu-latest
    container:
      image: node:20-alpine
    steps:
      - name: Log node version
        run: |
          node -v 
          cat /etc/os-release 